<div class="egreso">
    <h2 class="egreso_titulo">Egresos</h2>


    <div *ngFor="let expenses of listExpenses let indexOfitem = index" class="elemento limpiarEstilos">
      <div class="elemento_descripcion">{{expenses.description}}</div>
      <div class="right limpiarEstilos">
        <div class="elemento_valor">- {{expenses.value | currency: 'COP' : '$' : '1.2-2'}}</div>
        <div class="elemento_porcentaje">{{calculetePorcentage(expenses) | percent }}</div>
        <div class="elemento_eliminar">
          <button (click)="delete(indexOfitem)" class="elemento_eliminar--btn">
            <mat-icon>remove_circle_outline</mat-icon>
          </button>
        </div>
      </div>
    </div>

  </div>
