* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cabecero {
  height: 40vh;
  background-size: cover;
  background-position: center;
  position: relative;
  width: 100%;
  padding-top: 150px;
  padding-bottom: 100px;
  color: #fff;
  background: url(assets/bg-pattern.png), #7b4397;
  background: url(assets/bg-pattern.png), -webkit-gradient(linear, right top, left top, from(#7b4397), to(#dc2430));
  background: url(assets/bg-pattern.png), linear-gradient(to left, #7b4397, #dc2430)
}

.limpiarEstilos::after {
  content: "";
  display: table;
  clear: both;
}

body {
  color: #555;
  font-family: Open Sans;
  font-size: 16px;
  position: relative;
  height: 100vh;
  font-weight: 400;
}

.right {
  float: right;
}

.red {
  color: #FF5049 !important;
}

.redfocus:focus {
  border: 1px solid #FF5049 !important;
}


.contenedor {
  width: 1000px;
  margin: 60px auto;
}



.elemento {
  padding: 13px;
  border-bottom: 1px solid #e7e7e7;
  }
  
  .elemento:first-child {
  border-top: 1px solid #e7e7e7;
  }
  
  .elemento:nth-child(even) {
  background-color: #f7f7f7;
  }
  
  .elemento_descripcion {
  float: left;
  }
  
  .elemento_valor {
  float: left;
  transition: transform 0.3s;
  }
  
  .elemento_porcentaje {
  float: left;
  margin-left: 20px;
  transition: transform 0.3s;
  font-size: 11px;
  background-color: #FFDAD9;
  padding: 3px;
  border-radius: 3px;
  width: 32px;
  text-align: center;
  }
  
  .elemento_eliminar {
  float: left;
  }
  
  .elemento_eliminar--btn {
  font-size: 22px;
  background: none;
  border: none;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  display: none;
  }
  
  .elemento_eliminar--btn:focus {
  outline: none;
  }
  
  .elemento_eliminar--btn:active {
  transform: translateY(2px);
  }
  
  .elemento:hover .elemento_eliminar--btn {
  display: block;
  }
  
  .elemento:hover .elemento_valor {
  transform: translateX(-20px);
  }
  
  .elemento:hover .elemento_porcentaje {
  transform: translateX(-20px);
  }
  
  
  .no_pagado {
  background-color: #FFDAD9 !important;
  cursor: pointer;
  color: #FF5049;
  
  }
  
  .no_pagado .elemento_porcentaje {
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1);
  }
  
  .no_pagado:hover .elemento_descripcion {
  font-weight: 900;
  }
  



html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
